<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <a href="/books" class="btn_add btn">List Of Book</a>
          <a href="/" class="btn title"><h2>BOOKSTORE</h2></a>
          <a href="/books/new" class="btn_add btn">Add Book</a>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <h1 class="home_title">WELCOME TO BOOKSTORE</h1>
      </div>
    </main>
  </body>
</html>
