<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="home_container">
      <h1><%= title %></h1>
      <p>Welcome to BookStore 2<%= title %></p>
      <a class="btn_home btn" href="/books"> GO </a>
    </div>
  </body>
</html>
